.logo {
    width: 180px;
    height: 42px;
    background: url('../images/logo.png');
    margin: 18px 0px 0px 0;
    float: left;
  }
.site-layout-background {
    background: #ececec;
  }
  .site-card-wrapper {
    background: #ececec;
    padding: 30px;
    margin:0 auto;
  }
  